<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>

<div id="photo">
  <h1>GeeksforGeeks</h1>
  Hello everyone! This is a trial page for taking a screenshot.
  <br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br />
  <br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br />
  <br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br />
  <br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br />
  <br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br />
  <br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br />
  <br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!
  <button>Dummy</button>
  <br /><br /><br /><br />
  This is a dummy button!

  <br /><br />
  Click the button below to take a screenshot of the div.
  <br /><br />

  <!-- Define the button
        that will be used to
        take the screenshot -->
  <button (click)="takeshot()">Take Screenshot</button>
</div>
<h1>Screenshot:</h1>
<div id="output"></div>
