<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>

<div id="photo">
  <h1>GeeksforGeeks</h1>
  Hello everyone! This is a trial page for taking a screenshot.
  <br /><br />
  <h1>Heading 1</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 2</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 3</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 4</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 5</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 6</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 7</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 8</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 9</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 10</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 11</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 12</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 13</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 14</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 15</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 16</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 17</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 18</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 19</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 20</h1>
  <br /><br /><br /><br /><br /><br />
  <h1>Heading 21</h1>
  <br /><br />
  Click the button below to take a screenshot of the div.
  <br /><br />
</div>
<!-- Define the button
        that will be used to
        take the screenshot -->
<button (click)="takeshothtml2canvas()">Take Screenshot1</button>
<button (click)="takeshothtml2image()">Take Screenshot2</button>

<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<h1>Screenshot:</h1>
<div id="output"></div>
